html, body {
	width: 400px;
	font-family: Verdana, Geneva, sans-serif;
}

.hidden {
	display: none;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 10px 0;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
	background: #ffffff;
	border-radius: 25px;
	border: 0.5px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
	border: 1px solid #000000;
	height: 30px;
	width: 6px;
	border-radius: 0px;
	background: #000000;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -10.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ffffff;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
	background: #ffffff;
	border-radius: 25px;
	border: 0.5px solid #000101;
}
input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
	border: 1px solid #000000;
	height: 30px;
	width: 6px;
	border-radius: 0px;
	background: #000000;
	cursor: pointer;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #fcfcfc;
	border: 0.5px solid #000101;
	border-radius: 50px;
	box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
	background: #ffffff;
	border: 0.5px solid #000101;
	border-radius: 50px;
	box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
	box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
	border: 1px solid #000000;
	height: 30px;
	width: 6px;
	border-radius: 0px;
	background: #000000;
	cursor: pointer;
	height: 10px;
}
input[type=range]:focus::-ms-fill-lower {
	background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
	background: #ffffff;
}

.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider {
	background-color: #000000;
}
input:checked + .slider:before {
	-webkit-transform: translateX(16px);
	-ms-transform: translateX(16px);
	transform: translateX(16px);
}
